.rapports iframe {
  width: 1000px;
  height: 1190px;
  border: none;
}

.download-link {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 15px;
  background-color: #42c5c9;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
}

.download-link:hover {
  background-color: #2a9aa8;
}
