.home-container h1 {
  font-size: 100px;
  background: linear-gradient(to right, #16af20, #0697ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* Pour une meilleure compatibilité navigateur */
  -webkit-text-fill-color: transparent;
}

.home-container p {
  font-size: 40px;
}

.arrow-down {
  display: block;
  margin: 200px auto 0 auto;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(200px);
  }
}

.cv {
  margin-top: 400px;
}

.cv iframe {
  width: 1000px;
  height: 1190px;
  border: none;
}
