.home-container h1 {
  font-size: 100px;
  background: linear-gradient(to right, #16af20, #0697ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* Pour une meilleure compatibilité navigateur */
  -webkit-text-fill-color: transparent;
}
