body {
  place-items: center;
  min-height: 50px;
}

/* Styles communs pour les containers */
.container-common {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 30px;
  padding: 15px 0 50px 0;
  background-color: #404040;
  border: 2px solid #404040;
  border-radius: 20px;
  transition: border-color 0.3s ease;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
}

.container-common h1 {
  font-size: 50px;
  text-align: center;
  color: #858585;
  transition: color 0.3s ease;
}

.container-common p {
  margin-top: 30px;
  font-size: 25px;
}

.container-common li {
  margin-top: 5px;
}

.container-common:hover {
  border-color: white;
}

.container-common:hover h1 {
  color: white;
}
