/* Styles communs pour les containers */
.container-common {
  text-align: center;
  margin-top: 300px;
  margin-bottom: 20px;
}

.container-common h1 {
  font-size: 50px;
  text-align: center;
}

.container-common h2 {
  margin-top: 35px;
  font-size: 25px;
}

.container-common p {
  font-size: 25px;
}

.container-common li {
  margin-top: 5px;
}
